@font-face {
  font-family: "Dollie Script";
  src: url("../assets/Dollie-Script.ttf") format("truetype");
}

.navbar {
  display: flex;
  gap: 40px;
  padding: 12px 16px;
  background: #e43173;
  align-items: center;
  border-bottom: 6px solid #ffffff;
  padding-left: 40px;
}


/* Right-align the "Sign in" link */
.navbar-signin {
    margin-left: auto;
    font-family: "Barbie", 'Dollie Script';
    font-weight: 900;
    padding-right: 30px;
}

.user-profile {
  margin-left: 700px;
  font-family: "Barbie", 'Dollie Script';
  font-weight: 900;
}

/* Link styling */
.navbar a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  font-family: "Barbie", 'Dollie Script';
  font-weight: 900;
  font-size: 21px;
  text-shadow: 2px 2px #000;
}

.navbar a:hover {
  color: #fbafcb;
  /* text-decoration: underline; */
}
