.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #e43173;
  border-bottom: 6px solid #ffffff;
}

/* Left-side links */
.navbar-links {
  display: flex;
  gap: 40px;
  padding-left: 30px;
}

/* Right-side links */
.navbar-right {
  display: flex;
  gap: 40px;
  margin-left: auto;
  padding-right: 30px;
}

.logout-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: #ffffff;
  font-family: "Barbie", "Dollie Script";
  font-weight: 900;
  font-size: 21px;
  text-shadow: 2px 2px #000;
  padding: 0;
}

.logout-btn:hover {
  color: #fbafcb;
}

/* Link styling */
.navbar a {
  color: #ffffff;
  text-decoration: none;
  font-family: "Barbie", 'Dollie Script';
  font-weight: 900;
  font-size: 21px;
  text-shadow: 2px 2px #000;
}

.navbar a:hover {
  color: #fbafcb;
}
