.bills-page {
  max-width: 800px;
  margin: 2rem auto;
  padding: 2rem;
  font-family: "Barbie", "Dollie Script", serif;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
  border: 4px dashed #f9a5be;
}

.page-title {
  color: #e43173; /* hot pink */
  font-size: 2rem;
  text-align: center; /* center header */
  margin-bottom: 3rem; /* more space from upload */
  text-shadow: 1px 1px #ad1b51;
}

.upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem; /* spacing between elements */
  margin-bottom: 2rem;
}

.upload-container input[type="file"] {
  display: block;
  margin-bottom: 0.3rem;
}

.upload-button {
  background-color: #e7638b;
  color: white;
  font-weight: bold;
  padding: 0.7rem 1.5rem;
  cursor: pointer;
  border-radius: 8px;
  border: 2px solid #ad1b51;
  text-align: center;
}

.upload-button:hover {
  background-color: #e43173;
}

.no-file-selected {
  font-size: 0.9rem;
  color: #e43173;
}


.thumbnail {
  width: 100px;
  height: 100px;
  object-fit: contain;
  border-radius: 6px;
  border: 2px dashed #ad1b51;
}


.bill-card {
  display: flex;
  align-items: center;
  justify-content: center; /* center all content horizontally */
  background-color: #eda6bc;
  border: 2px solid #c44d75;
  border-radius: 12px;
  padding: 14px 24px;
  gap: 22px;
  flex: 1 1 100%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}

.receipt-icon {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  filter: invert(20%) sepia(60%) saturate(300%) hue-rotate(-20deg);
}

.bill-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 450px; /* space between title and total */
  flex: 1;
}

.bill-title {
  font-size: 20px;
  font-weight: 700;
  color: #9b1045;
  margin: 0;
}

.bill-total {
  font-size: 20px;
  color: #000;
  font-weight: 700;
  margin: 0;
}
