.chore-card {
  background: #fff;
  border-radius: 12px;
  border: 1px solid #e43173;
  padding: 8px;
  font-family: "Barbie", "Dollie Script";
  font-size: 17px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
  min-height: 50px; /* default height */
  overflow: hidden;
}

.chore-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chore-name {
  font-weight: 700;
}

.toggle-btn {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.chore-details {
  margin-top: 6px;
  border-top: 1px dashed #e43173;
  padding-top: 6px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
}

.mark-done-btn {
  background: none;
  border: 1px solid #e43173;
  border-radius: 8px;
  padding: 6px 12px;
  cursor: pointer;
  font-size: 18px;
}

.add-chore-container {
  display: flex;
  justify-content: center;
  margin: 30px 0; /* spacing above and below */
}

.add-chore-btn {
  width: 300px;
  font-size: 20px;
  padding: 12px 0;
  text-align: center;
  font-family: "Barbie", "Dollie Script";
  font-weight: 700;
  border-radius: 12px;
  border: 2px solid #e43173;
  background-color: #e43173; /* hot pink initially */
  color: #fff;               /* white text */
  cursor: pointer;
  box-shadow: 3px 3px #000;
  transition: all 0.2s ease;
}

.add-chore-btn:hover {
  background-color: #e43173; /* hot pink on hover */
  color: #0e0d0d;
}


