.home-page h1{
    font-size: 250px;
    padding-left: 400px;
    font-family: "Barbie", 'Dollie Script';
    font-weight: 800;
    margin-top: 150px;
    text-shadow: 3px 3px #fff;
    color: #e43173;
}

.home-page p1{
    padding-left: 460px;
    font-size: 30px;
    font-family: "Barbie", 'Dollie Script';
    font-weight: 800;
    color: #000;
    margin-top: 50px;
}