@font-face {
  font-family: "Dollie Script";
  src: url("../assets/Dollie-Script.ttf") format("truetype");
}

.gil-auth .container {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 20px;
  background: #e7638b;     
  padding-bottom: 30px;
  height: 710px;
  border-radius: 100px;
  box-shadow: 10px 10px #ad1b51;
  width: 900px;
}

.gil-auth .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  width: 100%;
  margin-top: 50px;
}

.gil-auth .text {
  margin-top: 30px;
  color: #ffffff;
  font-size: 65px;
  font-weight: 1000;
  font-family: "Barbie", "Dollie Script";
  text-shadow: 3px 3px #000;
  text-align: center;
}

.gil-auth .underline {
  width: 61px;
  height: 6px;
  background: #ffffff;
  border-radius: 9px;
}

.gil-auth .inputs {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.gil-auth .input {
  display: flex;
  align-items: center;
  margin: auto;
  width: 480px;
  height: 80px;
  background: #e7638b;
  border-radius: 6px;
  font-family: "Barbie", "Dollie Script";
}

.gil-auth .input img {
  margin: 0 30px;
  height: 40px;
}

.gil-auth .input input {
  height: 50px;
  width: 400px;
  background: #ffffff;
  border: none;
  padding-left: 25px;
  outline: none;
  color: #000;
  font-size: 21px;
  font-weight: 1000;
  border-radius: 10px;
  box-shadow: 3px 3px #000;
}

.gil-auth .forgot-password {
  padding-left: 62px;
  margin-top: 35px;
  color: #000;
  font-size: 21px;
  font-weight: 1000;
  font-family: "Barbie", "Dollie Script";
  margin-left: 150px;
}

.gil-auth .forgot-password span {
  color: #ffffff;
  cursor: pointer;
  text-decoration: underline;
}

.gil-auth .submit-container {
  display: flex;
  gap: 80px;
  margin: 60px auto;
  margin-left: 200px;
}

.gil-auth .submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 59px;
  color: #ffffff;
  font-weight: 1000;
  background: #e43173;
  border-radius: 50px;
  font-size: 19px;
  cursor: pointer;
  font-family: "Barbie", "Dollie Script";
  box-shadow: 3px 3px #000;
}

.gil-auth .submit.gray {
  background: #ffffff;
  color: #000000;
}
