.new-chore-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  font-family: "Barbie", "Dollie Script";
}

.new-chore-page h1 {
  margin-bottom: 30px; /* space between title and inputs */
}

.chore-form {
  display: flex;
  flex-direction: column;
  gap: 20px; /* space between each input field */
  width: 300px;
}

.chore-form input,
.chore-form textarea {
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #e43173;
}

.chore-buttons {
  display: flex;
  flex-direction: column; /* stack buttons */
  gap: 15px; 
  margin-top: 30px; 
  width: 300px;
}

.add-chore-btn,
.cancel-btn {
  padding: 12px;
  font-size: 18px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-family: "Barbie", "Dollie Script";
}

.add-chore-btn {
  background-color: #e43173; /* hot pink */
  color: white;
}

.cancel-btn {
  background-color: #e43173; 
  color: white;
  border: 2px solid #e43173;
}
