@font-face {
  font-family: "Dollie Script";
  src: url("../assets/Dollie-Script.ttf") format("truetype");
}

@font-face {
  font-family: "Oregano";
  src: url("./assets/Oregano-Regular.ttf") format("truetype");
}

.jp-auth {
  min-height: 100vh;         
  display: flex;
  justify-content: center;    
  align-items: center;        
  padding: 40px 0;            
}

.jp-auth .container {
  display: flex;
  flex-direction: column;
  background: #e7638b;
  padding-bottom: 30px;
  min-height: 710px;
  height: auto;
  border-radius: 100px;
  box-shadow: 10px 10px #ad1b51;
  width: 900px;
}

.jp-auth .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  width: 100%;
  margin-top: 0px;
}

.jp-auth .text {
  margin-top: 30px;
  color: #ffffff;
  font-size: 65px;
  font-weight: 1000;
  font-family: "Barbie", "Dollie Script";
  text-shadow: 3px 3px #000;
  text-align: center;
}

.jp-auth .underline {
  width: 61px;
  height: 6px;
  background: #ffffff;
  border-radius: 9px;
}

.jp-auth .inputs {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.jp-auth .input {
  display: flex;
  align-items: center;
  margin: auto;
  width: 480px;
  height: 80px;
  background: #e7638b;
  border-radius: 6px;
  font-family: "Barbie", "Dollie Script";
}

.jp-auth .input img {
  margin: 0 30px;
  height: 40px;
}

.jp-auth .input input {
  height: 50px;
  width: 400px;
  background: #ffffff;
  border: none;
  padding-left: 25px;
  outline: none;
  color: #000;
  font-size: 21px;
  font-weight: 1000;
  border-radius: 10px;
  box-shadow: 3px 3px #000;
}

.jp-auth .forgot-password {
  display: none; 
}

.jp-auth .submit-container {
  display: flex;
  gap: 80px;
  margin: 40px auto;
  margin-left: 200px;
}

.jp-auth .submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 59px;
  color: #ffffff;
  font-weight: 1000;
  background: #e43173;
  border-radius: 50px;
  font-size: 19px;
  cursor: pointer;
  font-family: "Barbie", "Dollie Script";
  box-shadow: 3px 3px #000;
}

.jp-auth .submit.gray {
  background: #ffffff;
  color: #000000;
}



.jp-auth .auth-message {
  text-align: center;
  margin-top: 5px;
  font-size: 1.5rem;
  padding: 6px 10px;
  font-family: "Oregano";
  color: white;
}