:root {
  min-width: 100%;
  min-height: 100%;
  text-align: center;
}

body {
    background-color: rgb(245, 150, 184);
}

.login-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}